.body {
  background-image: url("https://i.pinimg.com/originals/cf/41/3e/cf413e4a7bd6b503ce7828fb6f7b7338.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-around;


  .login-form {
    width: 400px;
    height: 30vh;

    margin-top: -175px;
    .form-field {
      background: white;
      width: 100%;

      margin-bottom: 25px;
      border-radius: 10px;
      padding: 5px 20px;

      box-sizing: border-box;
    }
    .button-bar {
      display: flex;
      justify-content: space-between;
      width: 45%;
      margin-left: 55%;

    }
  }
}
