<div class="body">
    <form name="registerForm" [formGroup]="registerForm" class="register-form">

        <h1>Register an Account</h1>
    
        <mat-form-field class="form-field">
            <input matInput placeholder="Firstname" type="text" formControlName="firstName">
            <mat-error *ngIf="registerForm.get('firstName').hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <input matInput placeholder="Lastname" type="text" formControlName="lastName">
            <mat-error *ngIf="registerForm.get('lastName').hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="registerForm.get('email').hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="registerForm.get('password').hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    
        <div class="button-bar">
            <a routerLink="/login"><button mat-raised-button >Login</button></a>
            <button mat-raised-button color="accent">Register</button>
        </div>

    </form>
</div>