<div class="dashboard-container">
  <div fxLayout="column" fxLayoutGap="32px" fxLayoutAlign="center center">
    <p>Router 1</p>
    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="center center">
      <p>MAC 1</p>
      <p>MAC 2</p>
      <p>MAC 3</p>
    </div>
    <p>Router 2</p>
    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="center center">
      <p>MAC 4</p>
      <p>MAC 5</p>
      <p>MAC 6</p>
    </div>
    <p>Router 3</p>
    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="center center">
      <p>MAC 7</p>
    </div>
  </div>
</div>
  